body {
 background: url("http://i454.photobucket.com/albums/qq269/carolynnreynolds/Simple-Flowers.gif");
}

#slider {
	width: 600px;
	height: 400px;
	overflow: hidden;
	margin: 30px auto;
}

#slider>img{
	width: 600px;
	height: 400px;
	float: left;
	display: none;
}

a {
	padding: 5px 10px;
	background-color: #F0F0F0;
	margin-top: 30px;
	text-decoration: none;
	color: #666;
}

a.left{
	float: left;
}

a.right{
	float: right;
}

.wrapper {
	width: 600px;
	margin: 0 auto;
}

.header {
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
    text-align: center;
    color: #696969;
    background-color: #ADD8E6
}

img {
	width: 100%;
	height: 100%;
}
